.vscode

.ipynb_checkpoints/
.python-version

**/.terraform/providers/

.env

masleka/data


node_modules/
dist/
transactions-fetcher/dev/dags
transactions-fetcher/dev/logs
transactions-fetcher/dev/plugins
transactions_*